/* Copyright 2016 LasLabs Inc.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// App Drawer / Icons
@app-drawer-icon-size:      6em;
@app-drawer-icon-margin:    1em;
@app-drawer-width:          80%;
@app-drawer-title-height:   54px;

// Navbar
@navbar-height: 46px;
@app-drawer-navbar-height:  @navbar-height / 2;
@app-drawer-navbar-padding-vertical: @navbar-padding-vertical / 2;
@app-drawer-padding-horizontal: @navbar-padding-horizontal / 2;

// Drawer Toggle
@drawer-toggle-height: @navbar-height;
@drawer-toggle-width: @navbar-height;


//uswa:tambahin warna ini
//@odoo-brand-primary: #2c6fd9;
//@odoo-brand-optional: #2c6fd9;

@odoo-brand-primary: #272778;/*#C2141A;*/
@odoo-brand-optional: #272778;


////////////////////////////////////////////////////////////////

//== Global textual link color.
@o-violet-dark             : #6c63ee;
//#8383c4;

@link-color                : @o-violet-dark;
@link-hover-color          : desaturate(@o-violet-dark, 10%);
//@link-hover-decoration   : none;

//== UI Colors
//@brand-primary           : @odoo-brand-optional;
//@brand-success           : #50AF51;
//@brand-info              : #4B9EB6;
//@brand-warning           : #F0AD4E;
//@brand-danger            : #D9534F;

@table-bg-accent           : #efeff8;


